body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label, input, button {
    margin: 5px 0;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#mensagem, #login-mensagem {
    margin-top: 10px;
    color: #333;
}